.header {
    margin: auto;
    margin-top: 50px;
    width: 1320px;
    height: 600px;  
    background-image: linear-gradient(180deg,#070221 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Banner\ Image.png')
}
.header h1 {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 85px;
    margin:0
    padding-top: 10px;
}
.header h3{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 200px;
}