.header {
    margin: auto;
    margin-top: 50px;
    width: 1320px;
    height: 600px;  
    background-image: linear-gradient(180deg,#070221 0%, rgba(7, 2, 17, 0.00) 100%),url('../images/Banner\ Image.png')
}
.header h1{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 85px;
    margin:0
    padding-top: 10px;
}
.header h3{
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 200px;
}
.holiday-img {
    width: 800px;
    height: 500px;
    flex-shrink: 0;
    background-color: white;
}
.holiday  {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 600;
}
    
.holiday p {
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.holiday h3 {
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
}
.party h3 {
    color: #fff;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px; 
    padding-top: 100px;
    padding-left: 70px;
    
}
.party p {
   color: #fff;
   font-size: 18px;
   font-weight: 400;
   line-height: 30px;
   padding-top: 10px;
   padding-left: 70px;
   

}
.party h4 {
    color: #fff;
    text-align: start;
    font-size: 20px;
    font-weight: 700;
    padding-left: 70px;
    
    
}
.party {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin: auto;
    border-radius:12px;
    }
.party-yo{
    display: flex;
} 
.details{
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    text-align: center;
     font-family: Inter;
    font-size: 32px;
     font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
    margin: auto;
    padding-top: 90px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 100px;
}
.details button{
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: red;
    border-radius: 8px;
    display: inline-flex;
    padding: 16px 32px;
   justify-content: center;
   align-items: center;
   gap: 10px;
}
 .offer{
    display: flex;
    padding-top: 90px;
    text-align: center;
    justify-content: space-evenly;
    
 }  
 .offer h6{
  color: #F00;
  text-align: center;
  font-size: 24px;
  font-weight:480px
 } 
 .offer h1{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    
 }
.offer p{
    color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.offer-title{ 
   border-radius: 50%;
  border: 10px solid red;
  padding: 10px;
    
}
.offer-details h1{
   color: #F00;
   font-family: Inter;
   font-size: 48px;
   font-weight: 700;
}
.gifts h6{
    color: #F00;
    font-size: 20px;
    font-weight:400; 
    padding-right: 300px;
}
.gifts h1{
    color: #070211;
font-size: 48px;
font-weight: 800;
text-transform: capitalize;
}
.gifts p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 32px; /* 160% */

}
.gifts-title{
    margin: auto;
    justify-content: space-between;
    text-align: center;
    padding-top: 40px;
    
    
    
}
.discount{ 
    margin: 0 auto;
    width: 1400px;
    height: 940px;
    text-align: center;
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-size: 1400px 203px;
    background-position: bottom left;
    margin-top: 120px;

}

.parent {
    display: flex;
}
.box {
    width: 500px;
    height: 500px;
    padding-top: 50px;
}
.maiya {
    width: 460px;
    height: 460px;
    padding-left: 129px;
}
.round {
    position: relative;
    left: 200px;
    width: 206.841px;
height: 206.841px;
flex-shrink: 0;
}
.discount h4{
    color: #070211;
    font-size: 20px;
    font-weight: 400;
}
.discount h1{
   color: #070211;
   font-size: 72px;
   font-weight: 900;
}
.discount p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; 
}
.subs{
    
    background: rgba(255, 0, 0, 0.05); 
    width: 1320px;
height: 616px;
flex-shrink: 0;
border-radius: 16px;
margin: auto;
margin-top: 120px;
}
.subs-img{
    
    width: 150px;
height: 150px;
flex-shrink: 0;
padding-left: 600px;
    
}
.subs-title h3{
    color:#070211;
    text-align: center;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;

}
.subs-title p{
    color: rgba(7, 2, 17, 0.60);
text-align: center;
font-size: 20px;
font-weight: 400;
line-height: 32px;
}
.subs-title{
    align-items: center;
    padding-top: 30px;
    
}
.subs-title button{
    color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 600;
text-transform: capitalize;
background-color: #F00;
border-radius: 30px;
}
.subs-title input {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    background-color: white;
    border-radius: 30px;
    margin-left: 500px;}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer-img{


    padding-left: 700px;
    
}
.footer-title {
    margin: auto;
    width: 1500px;
height: 450px;
flex-shrink: 0;
background-color: #070211;
color: #FFF;
font-size: 24px;
font-weight: 500;
padding-top: 200px;
margin-top: 100px;

}
.footer-pp{
    display: flex;
    justify-content: space-between;
}
.footer-p1{
    padding-right: 100px;
}

.footer-p {
    padding-left: 100px;
}
.footer-p3{
    padding-left: 100px;
}
.footer-p4 {
   margin-right: 100px;
   color: #FFF;
font-family: Inter;
font-size: 24px;
font-weight: 500;
background-color: #070211;
margin-bottom: 50px;

}